.settigs-container{
    width: 100%;
    background-color: #fff;
}
#Kontur-Core-Settings{
    padding: 25px 40px;
    .input-title{
        font-family: "Inter",sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
    }
    .draggable-list-container{
        max-width: 600px;
        .draggable-list{
            padding: 0;
            margin: 0;
            list-style-type: none;
            background-color: #fff;
            box-shadow: 0px 4px 10px 0px #0000000D;
            &-item{
                cursor: pointer;
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid #e3e3e3;
                border-top: none;
                padding: 10px 50px 10px 25px;
                background-color: #fff;
                column-gap: 10px;
                &.add_new_section{
                    justify-content: flex-end;
                    padding-right: 10px;
                    .add_new_section-btn{
                        display: block;
                        box-sizing: border-box;
                        text-align: end;
                        font-size: 12px;
                        color: #2d2d2d;
                        text-decoration: none;
                        opacity: .6;
                        &:hover{
                            transition: .3s;
                            opacity: 1;
                        }
                    }
                }
                .ghost{
                    opacity: 1;
                }
                &:first-child{
                    border-radius: 4px 4px 0 0;
                    border-top: 1px solid #e3e3e3;
                }
                &:last-child{
                    border-radius: 0 0 4px 4px;
                }
                .name,
                .code{
                    width: 200px;
                }
                .count{
                    display: block;
                    box-sizing: border-box;
                    padding-right: 30px;
                    max-width: 34px;
                    font-weight: 600;
                }
                .activity{
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                    margin: 0;
                }
                .detele_item{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 10px;
                    &:hover{
                        transform: translateY(-50%) scale(1.1);
                        transition: .3s;
                    }
                }
            }
        }
        .reset-default-sort{
            display: block;
            box-sizing: border-box;
            width: 100%;
            padding-top: 10px;
            text-align: end;
            font-size: 12px;
            color: #2d2d2d;
            text-decoration: none;
            opacity: .6;
            &:hover{
                transition: .3s;
                opacity: 1;
            }
        }
    }

    .input_container{
        margin-bottom: 10px;
        &.FILE{
            margin-bottom: 24px;
        }
        .color{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 20px;
            label{
                min-width: 150px;
                max-width: 150px;
            }
            .color_picker{
                padding-left: 30px;
                outline: none;
                border: 1px solid #2d2d2d;
                border-radius: 4px;
            }
            .reset-default{
                display: block;
                box-sizing: border-box;
                font-size: 12px;
                color: #2d2d2d;
                text-decoration: none;
                opacity: 0.6;
                &:hover{
                    opacity: 1;
                    transition: .3s
                }
            }
        };

    }

    .button_container{
        display: flex;
        column-gap: 24px;
        margin-top: 42px;
        button[type=submit]{
            cursor: pointer;
            text-decoration: none;
            outline: none;
            font-size: 16px;
            padding: 8px 16px;
            border: 2px solid #2d2d2d;
            color: #2d2d2d;
            &:hover{
                transition: .3s;
                background-color: #2d2d2d;
                color: #fff;
            }
        }
    }

}