$container-width1: 1600px;
$container-width2: 768px;
$container-width3: 500px;

.service-detail{
    .block-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        color: var(--color-main-text);
        margin-bottom: 30px;
        h2{
            font-size: 36px;
            font-weight: 600;
            line-height: 125%;
            color: inherit;
        }
        .description{
            font-size: 16px;
            font-weight: 500;
            line-height: 125%;
            color: inherit;
            margin-top: 14px;
        }
        @media( max-width: $container-width3 ){
            font-size: 24px;
            margin-bottom: 22px;
        }
    }
    .main-info{
        display: flex;
        align-items: stretch;
        column-gap: 60px;
        min-height: 500px;
        margin-bottom: 100px;
        @media( max-width: $container-width1 ){
            column-gap: 40px;
        }
        @media( max-width: $container-width2 ){
            flex-direction: column;
            row-gap: 24px;
            margin-bottom: 80px;
        }
        .img_container{
            width: 35%;
            max-width: 622px;
            min-width: 350px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            @media( max-width: $container-width2 ){
                width: 100%;
                min-width: unset;
                max-width: unset;
            }
            @media( max-width: $container-width3 ){
                max-height: 300px;
            }
        }
        &:not(:has(.img_container)){
            min-height: unset;
            .info_container{
                width: 100%;
                padding: 0;
            }
        } 
        .info_container{
            width: 65%;
            padding: 60px 0;
            *{
                color: var(--color-main-text);
                font-size: 18px;
                line-height: 150%;
            }
            @media( max-width: $container-width2 ){
                width: 100%;
                padding: 0;
                *{
                    font-size: 14px;
                }
            }
        }
    }
    .tariffs{
        margin-bottom: 100px;
        .slider-container{
            margin-bottom: 20px;
            .slick-list{
                margin: 0 -15px;
            }
            .slick-track{
                display: flex;
                align-items: stretch;
            }
            .slick-slide{
                display: flex;
                flex-direction: row;
                padding: 0 15px;
                @media( max-width: $container-width2 ){
                    flex-direction: column;
                }
                .img-block{
                    width: 40%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    @media( max-width: $container-width1 ){
                        width: 35%;
                    }
                    @media( max-width: $container-width2 ){
                        width: 100%;
                        max-height: 400px;
                    }
                }
                .info-block{
                    width: 60%;
                    padding: 20px 40px;
                    background-color: #fff;
                    .price{
                        font-size: 26px;
                        font-weight: 700;
                        line-height: 125%;
                        color: var(--color-main-text);
                        margin-bottom: 8px;
                    }
                    .title{
                        font-size: 20px;
                        font-weight: 500;
                        line-height: 150%;
                        color: var(--color-main-text);
                        margin-bottom: 30px;
                    }
                    @media( max-width: $container-width1 ){
                        padding: 20px;
                        width: 65%;
                    }
                    @media( max-width: $container-width2 ){
                        width: 100%;
                        padding: 20px 40px;
                        .title{
                            margin-bottom: 15px;
                        }
                    }
                    @media( max-width: $container-width3 ){
                        padding: 10px 10px 20px 10px;
                        .price{
                            font-size: 16px;
                        }
                        .title{
                            font-size: 12px;
                        }
                        .recommendations-list{
                            font-size: 12px;
                            li{
                                font-size: inherit;
                            }
                        }
                        .recommendations-title{
                            font-size: 12px;
                        }

                    }
                }
                .order-call-btn-container{
                    display: flex;
                    justify-content: center;
                    .order-call-btn{
                        margin-top: 32px;
                        @media( max-width: $container-width2 ){
                            max-width: none;
                            text-align: center;
                        }
                        @media( max-width: $container-width3 ){
                            margin: 0;
                            font-size: 14px;
                            padding: 12px 0;
                        }
                    }
                    @media( max-width: $container-width3 ){
                        margin-bottom: 0;
                        margin-top: 20px;
                    }
                }
            }
        }
        @media(max-width: $container-width2){
            margin-bottom: 80px;
        }
    }
    .recommendations{
        margin-top: 40px;
        &-title{
            opacity: .5;
            margin-bottom: 10px;
        }
        &-list{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
            li{
                padding-left: 18px;
                position: relative;
                &::before{
                    content: "";
                    width: 6px;
                    height: 6px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: var(--color-primary);
                }
            }
        }
        @media( max-width: $container-width2 ){
            margin-top: 0;
        }
    }
    .our-works{
        margin-bottom: 100px;
        .gallery{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 30px;
            margin-bottom: 30px;
            @media( max-width: $container-width2 ){   
                row-gap: 20px;
            }
            .image-container{
                width: calc(33.333% - 20px);
                height: 315px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
                @media( max-width: $container-width1 ){   
                    width: calc(50% - 15px);
                }
                @media( max-width: $container-width2 ){   
                    width: 100%;
                }
            }
        }
        .more-btn{
            display: block;
            box-sizing: border-box;
            max-width: max-content;
            padding: 12px 50px;
            background-color: var(--color-secondary);
            color: var(--color-main-text);
            font-size: 14px;
            line-height: 125%;
            font-weight: 500;
            text-decoration: none;
            margin-left: auto;
            margin-right: auto;
            &:hover{
                transition: .3s;
                background-color: var(--color-primary);
            }
            @media( max-width: $container-width2 ){
                width: 100%;
                max-width: none;
                text-align: center;
                padding: 20px 0;
            }
        }
        @media( max-width: $container-width1 ){
            row-gap: 30px;
            column-gap: 20px;
        }
    }
    .application-block{
        padding: 55px 0;
        background-color: var(--color-primary);
        margin-bottom: 100px;
        @media(max-width: $container-width2){
            margin-bottom: 80px;
        }
        @media(max-width: $container-width3){
            padding: 40px 0;
        }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            column-gap: 160px;
            @media(max-width: $container-width1){
                column-gap: 24px;
            }
            @media(max-width: $container-width2){
                flex-direction: column;
                row-gap: 36px
            }
        }
        .left-column{
            width: 100%;
            h2{
                font-weight: 700;
                font-size: 46px;
                line-height: 125%;
                color: var(--color-main-text);
                margin-bottom: 30px;
            }
            p{
                font-size: 24px;
                font-weight: 500;
                line-height: 150%;
                color: var(--color-main-text);
                margin-bottom: 30px;
            }
            .telephone{
                text-decoration: none;
                font-size: 40px;
                font-weight: 500;
                line-height: 125%;
                color: var(--color-main-text);
                &:hover{
                    transition: .3s;
                    opacity: .75;
                }
            }
        }
        .right-column{
            max-width: 487px;
        }
        @media(max-width: $container-width1){
            .left-column{
                h2{
                    font-size: 36px;
                }
                p{
                    font-size: 18px;
                }
            }
            .right-column{
                max-width: unset;
            }
        }
        @media(max-width: $container-width3){
            .left-column{
                h2{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                }
                .telephone{
                    font-size: 32px;
                }
            }
        }

    }
    .work-stages{
        .stage-list-container{
            display: flex;
            column-gap: 23px;
            .stages-btn-container{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                height: max-content;
                min-width: 70px;
                &::after{
                    content: "";
                    height: 100%;
                    width: 3px;
                    background-color: var(--color-primary);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 1;
                }
                .stage-btn{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 58px;
                    height: 58px;
                    transition: .3s;
                    border-radius: 100%;
                    background-color: var(--color-primary);
                    border: 2px solid var(--color-primary);
                    z-index: 2;
                    margin-bottom: 12px;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        background-color: #fff;
                    }
                    &.active{
                        background-color: #fff;
                        width: 74px;
                        height: 74px;
                        margin-bottom: 60px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                        &.active{
                            margin-top: 48px;
                        }
                    }
                }
            }
            .stages-container{
                width: 100%;
                .stage{
                    display: none;
                    align-items: center;
                    column-gap: 55px;
                    padding: 24px 100px;
                    background-color: #fff;
                    border-radius: 0 20px 20px 20px;
                    box-shadow: 6px 7px 39px -14px rgba(#101018, .13);
                    &.active{
                        display: flex;
                    }
                    .left_column{
                        width: 50%;
                        .stage-title{
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 125%;
                            color: var(--color-main-text);
                            margin-bottom: 20px;
                        }
                        p{
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 150%;
                            color: var(--color-main-text);
                            margin-bottom: 20px;
                        }
                    }
                    .right_column{
                        width: 50%;
                        min-height: 360px;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                    }
                    @media( max-width: $container-width1 ){
                        padding: 25px 50px;
                        column-gap: 24px;
                    }
                }
            }
            @media( max-width: 860px ){
                flex-direction: column;
                .stages-btn-container{
                    display: none;
                }
                .stages-container{
                    display: flex;
                    flex-direction: column;
                    row-gap: 20px;
                    .stage{
                        display: flex;
                        flex-direction: column;
                        row-gap: 20px;
                        border-radius: 0;
                        .left_column{
                            width: 100%;
                            .stage-title{
                                text-align: center;
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                        .right_column{
                            width: 100%;
                            min-height: 200px;
                        }
                    }
                }
            }
        }
    }
}